<div class="row">
  <div class="col-md-6">
    <h5>Day 1</h5>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell + Navigating and Working with Files and Directories</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Pipes and Filters + Loops</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Shell Scripts</td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Why a cluster?</td> </tr>
      <tr> <td>15:15</td>  <td>Connecting to a remote HPC system</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 2</h5>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Working on a remote HPC system</td> </tr>
      <tr> <td>09:40</td>  <td>Scheduler Fundamentals</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Environment Variables + Accessing software via Modules</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Transferring files with remote computers</td> </tr>
      <tr> <td>13:30</td>  <td>Running a parallel job</td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Using resources effectively + responsibly</td> </tr>
      <tr> <td>15:45</td>  <td>Wrap-up + Post-workshop survey</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
